apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: booksearch
  namespace: argocd
  annotations:
    # Images to track
    argocd-image-updater.argoproj.io/image-list: |
      frontend=ghcr.io/ryusid/book-frontend
      backend=ghcr.io/ryusid/book-backend

    # only allow sha tags
    argocd-image-updater.argoproj.io/frontend.allow-tags: regexp:^sha-[0-9a-f]{7,}$
    argocd-image-updater.argoproj.io/backend.allow-tags: regexp:^sha-[0-9a-f]{7,}$

    # pick newest tag
    argocd-image-updater.argoproj.io/frontend.update-strategy: newest-build
    argocd-image-updater.argoproj.io/backend.update-strategy: newest-build

    # write back to git
    argocd-image-updater.argoproj.io/write-back-method: git
    argocd-image-updater.argoproj.io/git-branch: main

spec:
  project: default
  source:
    repoURL: git@github.com/Ryusid/bookSearchEngine.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
