apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-backend
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: book-backend
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: book-backend
    spec:
      terminationGracePeriodSeconds: 20
      containers:
        - name: api
          image: ghcr.io/ryusid/book-backend:latest
          imagePullPolicy: Always
          env:
            - name: DATA_DIR
              value: /data
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: data
              mountPath: /data

          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 6

          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: book-data-pvc
