apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: book-data-pvc
  annotations:
    argocd.argoproj.io/sync-options: Delete=false
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
  persistentVolumeReclaimPolicy: Retain
