name: Build & Push Backend Image

on:
  push:
    branches: [ main ]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE=ghcr.io/$OWNER/book-backend" >> $GITHUB_ENV
          echo "TAG=sha-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build & push backend image
        uses: docker/build-push-action@v5
        with:
          context: backend
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}
            ${{ env.IMAGE }}:latest

      - name: Update backend image tag
        run: |
          sed -i \
            "/name: ghcr.io\/ryusid\/book-backend/{n;s/newTag:.*/newTag: ${TAG}/}" \
            k8s/kustomization.yml

      - name: Commit & push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/kustomization.yaml
          git commit -m "chore(backend): bump image to ${TAG}" || exit 0
          git push
